ADMIN_EMAIL=admin@mail.invalid
ADMIN_PASSWORD=supersecurepassword


# AUTH_SECRET can be generated with `npx auth` or alternatively with:
# openssl rand -base64 32
# Use quote marks around the value if it contains special characters.
AUTH_SECRET="ofhlHGV9FLfHVIMLf9/9QfnH+0HaHjp+ZRzeEhGi3b8=" # CHANGE THIS!

POSTGRES_HOST=localhost
POSTGRES_USER=markhoster
POSTGRES_PASSWORD=markhoster
POSTGRES_DB=markhoster